<a href="https://colab.research.google.com/github/LEE-Hyuna1229/todo/blob/main/chapter17.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
def 양파():     #define의 정의
    print("양파를 2개를 수확했습니다.")
def 대파():
    print("대파를 수확했습니다.")

#함수 호출하기
양파()
대파()

양파를 2개를 수확했습니다.
대파를 수확했습니다.

In [4]:
def 수확():
    print("올헤 비가 많이 왔습니다,")  #들여쓰기 매우 중요함
    print("농작물 수확이 현저히 좋았습니다.")

수확()

올헤 비가 많이 왔습니다,
농작물 수확이 현저히 좋았습니다.

In [5]:
def function(x,y):
    z = x + y
    return z

# A 등급 10마리, B등급 9마리
print("옥수수와 수박의 수확성 :", function(10,2))

옥수수와 수박의 수확성 : 12

In [6]:
def bread(a,b):
    p = 2*a + b
    return p

print("오늘 먹은 빵의 개수:", bread(2,3))

오늘 먹은 빵의 개수: 7

In [7]:
def 수확():
    print("고라니 2마리를 잡았습니다.")
수확()

고라니 2마리를 잡았습니다.

In [8]:
def function(x,y):
    z = x + y
    print(z) #return이 없으면 반환을 하지 못한다.

# A 등급 10마리, B등급 9마리
print("옥수수와 수박의 수확성 :", function(10,2))

12
옥수수와 수박의 수확성 : None

In [9]:
def 계산(가격, 개수):
    return 가격*개수
print(계산(1000,5),"원입니다.")

5000 원입니다.

In [10]:
def 계산(a,b,c):
    합계 = a*1000 + b*500 + c*100
    return 합계

print(계산(5,2,3),"원입니다.")

6300 원입니다.

In [11]:
a=100
def f():
    global a #바깥에 있는 변수(전역변수)를 가져다 쓰려면 이렇게 (지역변수로)불러내야함(혼동을 피하기 위함)
    a = a + 1
    return a
f()

101

In [13]:
won = {'A등급':1000,'B등급':500,'C등급':100}  #dict타입에 한해서만 전역변수에 있는 값을 지역변수로 쓸수 있음.

def 계산(a,b,c):
    합계 = won['A등급']*a + won['B등급']*b  + won['C등급']*c
    return 합계

print(계산(5,2,3),"원입니다.")

6300 원입니다.

In [14]:
won = {'치아바타':3500,'베이글':2000,'팥빵':1500}

def 계산(a,b,c):
    합계 = won['치아바타']*a + won['베이글']*b + won['팥빵']*c
    return 합계

print(계산(2,1,3),'원 입니다.')

13500 원 입니다.

In [16]:
won = {'치아바타':3500,'베이글':2000,'팥빵':1500}

def 계산(a,b,c):
    합계 = won['치아바타']*a + won['베이글']*b + won['팥빵']*c
    return 합계

print(계산(2,1,3),'원 입니다.')

13500 원 입니다.

In [17]:
# 삼수 : 변하지 않는 수
PI = 3.14
def circle(r,inputpi):
    z = r*r*inputpi
    return z

result = circle(10, PI)   #아규먼트로 불러와서 쓰는건 문제없음. 이렇게 활용.
print(result)

314.0

In [18]:
#원기둥 부피
height = int(input("높이를 입력해 주세요:"))
def volume(r,h):
    z = r*r*h
    return z

result = volume(5,height)
print(result)

높이를 입력해 주세요:34
850

In [22]:
sort1 = int(input("치아바타의 개수를 입력해 주세요: "))
sort2 = int(input("베이글의 개수를 입력해 주세요: "))
sort3 = int(input("팥빵의 개수를 입력해 주세요: "))

won = {'치아바타':3500,'베이글':2000,'팥빵':1500}

def number(a,b,c):
    z = won['치아바타']*a + won['베이글']*b + won['팥빵']*c
    return z

합계 = number(sort1,sort2,sort3)
print(f'계산하실 금액은 {합계}원 입니다.')

#def number(a,b,c):
#    z = 2500*a + 2000*b +1500*c
#    return z

#합계 = number()

치아바타의 개수를 입력해 주세요: 2
베이글의 개수를 입력해 주세요: 1
팥빵의 개수를 입력해 주세요: 3
계산하실 금액은 13500원 입니다.

In [24]:
A = 0
B = 0
C = 0
유물 = 0

def 감자():
    global A
    A += 1

def 양파():
    global A, B, C
    A += 3
    B += 3
    C += 4

def 옥수수():
    global 유물
    유물 += 1

감자()
양파()
옥수수()

합계 = A + B + C + 유물
print("오늘 수확한 수확물:", 합계)

오늘 수확한 수확물: 12

In [ ]:
# 지역변수와 전역변수 공부해보세요.

In [25]:
### 함수안의함수

#def 함수이름1():
#    코드
#    def 함수이름2():
#        코드

def print_text() :
    text = '콩콩팥팥 수확의 기쁨'
    def txt():
        print(text)
    txt()
print_text()

콩콩팥팥 수확의 기쁨

In [29]:
def 수확철():
    야채 = {'A등급':0,'B등급':0,'C등급':0 }

    def 양파():
        야채['A등급'] += 1

    def 대파():
        야채['A등급'] += 3
        야채['B등급'] += 3
        야채['C등급'] += 4

    def 쪽파():
        야채['금']=1

    양파()
    대파()
    쪽파()

    return 야채

수확철()

#sum(수확철().values())

{'A등급': 4, 'B등급': 3, 'C등급': 4, '금': 1}

In [ ]:
#연산자의 우선순위

#틈틈히 봐두기