<a href="https://colab.research.google.com/github/LEE-Hyuna1229/todo/blob/main/chapter10.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
리스트=[]
print(리스트)

리스트=["식빵",100,"소금빵",False,True]
print(리스트)
#리스트엔 다 넣을 수 있어!!

[]
['식빵', 100, '소금빵', False, True]

In [ ]:
리스트=["이","렇","게","민","들","어","요"]
리스트
리스트2=list() #함수는 단독으로 쓰일 수 있음
print(리스트2)

[]

In [ ]:
리스트_매직 = list(range(0,20)) #인덱스가 20개라는 뜻 20번까지 아님아님
리스트_매직
#리스트_마법 = list(3)

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17, 18, 19]

In [ ]:
#range 연속된 숫자를 생산하는 기능이 존재
range(10)
#0-10 까지 존재한다는 표현

range(0, 10)

In [ ]:
#list(range(시작,끝,증가))
리스트_매직2 = list(range(0,20,2)) #0부터 20까지 2씩 증가
print(리스트_매직2)

리스트_매직3 = list(range(20,0,-1))
print(리스트_매직3)
리스트_매직4 = list(range(20,0))
print(리스트_매직4)
리스트_매직5 = list(range(4,1,-1))
print(리스트_매직5)

[0, 2, 4, 6, 8, 10, 12, 14, 16, 18]
[20, 19, 18, 17, 16, 15, 14, 13, 12, 11, 10, 9, 8, 7, 6, 5, 4, 3, 2, 1]
[]
[4, 3, 2]

20부터 index 20개 다 차면 더이상 안만듬. 그래서 0까지
안감.

In [ ]:
a,b,c = ['들','어','가']
print(a,b,c)
d,e,f=[7,7,8]
print(d,e,f)

지갑=[10000, 5000, 1000]
만원, 오천원, 천원 = 지갑
print(f'{만원} 2장, {오천원} 3장, {천원} 1장')

들 어 가
7 7 8
10000 2장, 5000 3장, 1000 1장

In [ ]:
#리스트 패킹, 리스트 언패킹 -숙지해 두는 것이 아주 중요

input().split()

기억나요? 혹시

['기억나요?', '혹시']

In [ ]:
#슬라이싱도 가능

로또 = [3,5,15,33,41,44]

#로또 변수에 있는 리스트의 인덱스 1번부터 2번까지의 값을 출력해
print(로또[1:3])

#로또 변수의 마지막 위치 출력해줘
print(로또.index(44))
print(로또[-1])

#반대로 출력
print(로또[::-1])

#로또 리스트안에 33이 있는지 확인 해줘
print(33 in 로또)

#로또 리스트를 로또2 리스트와 합쳐보세요
로또2 = [2,12,15,24,33,39]
print(로또+로또2)

#range를 이용해서 1부터 10 사이에 짝수만 들어있는 짝수(변수명) 리스트를 만들어주세요
리스트_짝수=list(range(2,11,2)) #range가 정확히 어떤것을 의미하는지 공부해보기
print(리스트_짝수)

#짝수 리스트에 들어있는 값을 2배 늘리고 다시 짝구 변수에 담아줘
리스트_짝수 *= 2
print(리스트_짝수) ##흠 값이 2배가 아니라 양이 2배인 것임.

#짝수 리스트에 들어있는 요소의 개수를 구헤주세여
print(len(리스트_짝수))

#짝수 리스트에 3번째 인덱스를 출력해주세요
print(리스트_짝수[3])

#len()함수를 이용해 인덱스의 마지막 값을 출력해주세요
a=len(리스트_짝수)
print(리스트_짝수[a-1])
print(리스트_짝수[-1])

[5, 15]
5
44
[44, 41, 33, 15, 5, 3]
True
[3, 5, 15, 33, 41, 44, 2, 12, 15, 24, 33, 39]
[2, 4, 6, 8, 10]
[2, 4, 6, 8, 10, 2, 4, 6, 8, 10]
10
8
10
10

In [ ]:
#list 값 넣고, 바꾸고, 지우고

mzfood = ["숙주","분모자","마라","소세지","소고기","옥수수면"]

#값을 넣는 방법 2가지 : append():마지막 요소에 값을 넣어, insert() : 원하는 곳에 값을 넣어요
mzfood.append("고수")
print(mzfood)
mzfood.insert(0, "탕후루") #원하는 인덱스 번호 적고 콤마 다음 적기
print(mzfood)

#이렇게 시켰더니 혼났다. 값 지우기
del mzfood[-1] # del 지우기 원하는 인덱스 값 넣기
print(mzfood)
del mzfood[0]
print(mzfood)

#값 바꾸고
mzfood[-2]="양고기" #소고기를 양고기로 바꾸고 싶음.
print(mzfood)

#문자열 시퀀스 아니냐 그럼 저거 다 될듯
인사="반가워"
#인사[2]="웡" #문자열 str에는 시퀀스여도 할당할 수 없음 이 기능 지원이 안됨.

['숙주', '분모자', '마라', '소세지', '소고기', '옥수수면', '고수']
['탕후루', '숙주', '분모자', '마라', '소세지', '소고기', '옥수수면', '고수']
['탕후루', '숙주', '분모자', '마라', '소세지', '소고기', '옥수수면']
['숙주', '분모자', '마라', '소세지', '소고기', '옥수수면']
['숙주', '분모자', '마라', '소세지', '양고기', '옥수수면']

In [ ]:
print(dir(list))

['__add__', '__class__', '__class_getitem__', '__contains__', '__delattr__', '__delitem__', '__dir__', '__doc__', '__eq__', '__format__', '__ge__', '__getattribute__', '__getitem__', '__gt__', '__hash__', '__iadd__', '__imul__', '__init__', '__init_subclass__', '__iter__', '__le__', '__len__', '__lt__', '__mul__', '__ne__', '__new__', '__reduce__', '__reduce_ex__', '__repr__', '__reversed__', '__rmul__', '__setattr__', '__setitem__', '__sizeof__', '__str__', '__subclasshook__', 'append', 'clear', 'copy', 'count', 'extend', 'index', 'insert', 'pop', 'remove', 'reverse', 'sort']

In [ ]:
print(mzfood)
mzfood.reverse() #reverse 하면 위치는 바로 뒤바뀜
print(mzfood)

mzfood.sort() #메소드는 ()해야함
print(mzfood) #가나다라 순으로 바뀜

#왜 print문을 쓰면 none이 나올까? -조사해보기
print(mzfood)
print(mzfood.reverse())
print(mzfood.sort())

['마라', '분모자', '소세지', '숙주', '양고기', '옥수수면']
['옥수수면', '양고기', '숙주', '소세지', '분모자', '마라']
['마라', '분모자', '소세지', '숙주', '양고기', '옥수수면']
['마라', '분모자', '소세지', '숙주', '양고기', '옥수수면']
None
None

In [ ]:
#리스트의 매직 까도까도 나온다 양파같은 리스트
#2차원 리스트에 대해서도 공부는 필수 !!!

양파같은=[[2,0],[3,0]]
양파같은

print(양파같은[0])
print(양파같은[1])
#3을 출력해줘
print(양파같은[1][0])
#0을 출력해줘
print(양파같은[0][1])

양파같은.append([4,1])
양파같은.insert(0,[9,5])
양파같은

[2, 0]
[3, 0]
3
0

[[9, 5], [2, 0], [3, 0], [4, 1]]

In [ ]:
#붕어빵